<!DOCTYPE html>
<html>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <title>Attendance</title>
  <style>
    h2 {
      padding-bottom: 20px;
      font-weight: 600;
      font-size: 3.2em;
    }
  </style>
  <body>
    <div class="container">
      <center><h2>Attendance Management System</h2></center>
      <div class="row justify-content-between">
        <div class="col-lg-offset-3 col-lg-2">
          <center>
            <form
              class="form-inline"
              action="/start"
              method="post"
              enctype="multipart/form-data"
            >
              <input
                type="submit"
                class="btn btn-success btn-md btn-block"
                value="Start"
              />
            </form>
          </center>
          <br />
        </div>
        <div class="col-lg-offset-2 col-lg-2">
          <center>
            <form
              class="form-inline"
              action="/stop"
              method="post"
              enctype="multipart/form-data"
            >
              <input
                type="submit"
                class="btn btn-danger btn-md btn-block"
                value="Stop"
              />
            </form>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
